/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000;
  position: relative;
  font-family: sans-serif;
}

/* Contenedor principal */
.container {
  width: 100vw;
  height: 56.25vw; /* Relación 16:9 => 100 / (16/9) */
  max-height: 100vh;
  max-width: 177.78vh;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  overflow: hidden;
}

/* Todas las escenas ocupan el mismo espacio */
.escena {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}

/* Escena visible */
.active {
  display: block;
}

/* Video full */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000;
}

/* Botón en la escena 1 (intro) */
.btn-experiencia {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 1.3rem;
  background: rgba(220, 20, 44, 1);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* ESCENA 2 - Menú de 4 botones con imagen de fondo */
#escena2 {
  background: #000 url("https://s3.amazonaws.com/botgen/Uploads/fondo_1742222248.jpg") 
              center/cover no-repeat;
}

.grid-botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

.grid-btn {
  padding: 15px;
  background: rgba(220, 20, 44, 1);
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
}
.grid-btn:hover {
  background: rgba(248, 38, 63, 1);
}

/* Overlay para textos de cada escena*/
.overlay-content {
  position: absolute;
  bottom: 3%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.overlay-content h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.overlay-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
}

/* Botón Volver */
.btn-volver {
  position: absolute;
  bottom: 10%;
  left: 10%; /* Alineado a la izquierda */
  padding: 20px 45px; /* Más grande */
  background: rgb(69,158,154,255);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  transition: background 0.3s, transform 0.2s;
}
.btn-volver:hover {
  background: rgb(16, 196, 199);
  transform: scale(1.05);
}